@(f: play.data.Form[controllers.util.DiscoDto])(implicit messages: play.i18n.Messages)

@import helper._

@main("Discoteca Tumiaru 54") {
  <h2>Cadastro de Disco</h2>
  
  @form(action = routes.DiscoController.salvar()){
  	@inputText(f("titulo"), Symbol("_label") -> "Título", Symbol("class") -> "form-control")
  	
  	@checkbox(f("gravado"))
  	<label class="form-check-label">Gravado?</label>
  	
  	@select(field = f("condicao"), options = Seq(
  		"A"->"Novo","B"->"Conservado","C"->"Desgastado"), Symbol("_default") -> "Condição do Disco")  	  	
  	<button class="btn btn-primary">Salvar</button>
  }
}
